.styleLabel {
	width: 150px;
	text-align: right;
}
.styleGrupo {
	border:1px solid #000;
}

.styleInputvAlignTop {
	vertical-align:top;
}
.styleLabelvAlignTop {
	vertical-align:top;
	padding-top:3px;
}	
#loadProcessando {
	width: 191px;
	height: 39px;
	margin: -50px 0 0 -50px;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 30;
	background: url('../imagens/processando.gif') top left no-repeat;
}

